{ns us-cdc-phinvads.value-set.2.16.840.1.113883.3.520.4.25,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Records the dominant modality of radiation therapy used to deliver the clinically most significant regional dose to the primary volume of interest during the first course of treatment.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://www.cms.gov/Medicare/Coding/ICD10",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.3.520.4.25",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
