{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.1089,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ACUTE condition that may represent exposure to botulinum toxin. ACUTE paralytic conditions consistent with botulism: cranial nerve VI (lateral rectus) palsy, ptosis, dilated pupils, decreased gag reflex, media rectus palsy. ACUTE descending motor paralysis (including muscles of respiration). ACUTE symptoms consistent with botulism: diplopia, dry mouth, dysphagia, difficulty focusing to a near point",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-9",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.1089",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
