{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.1090,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ACUTE potentially febrile illness of origin not specified. INCLUDES fever and septicemia not otherwise specified. INCLUDES unspecified viral illness even though unknown if fever is present. EXCLUDE entry in this syndrome category if more specific diagnostic code is present allowing same patient visit to be categorized as respiratory, neurological or gastrointestinal illness syndrome",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-9",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.1090",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
