{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.1096,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ACUTE condition that may present as consistent with smallpox (macules, papules, vesicles predominantly of face/arms/legs). SPECIFIC diagnosis of acute rash such as chicken pox in person > XX years of age (base age cut-off on data interpretation) or smallpox. ACUTE non-specific diagnosis of rash compatible with infectious disease, such as viral exanthem. EXCLUDES allergic or inflammatory skin conditions such as contact or seborrheaic dermatitis, rosacea. EXCLUDES rash NOS, rash due to poison ivy, sunburn, and eczema",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-9",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.1096",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
