{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.1097,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ACUTE infection of the upper and/ or lower respiratory tract (from the oropharynx to the lungs, includes otitis media). SPECIFIC diagnosis of acute respiratory tract infection (RTI) such as pneumonia due to parainfluenza virus.ACUTE non-specific diagnosis of RTI such as sinusitis, pharyngitis, laryngitis.ACUTE non-specific symptoms of RTI such as cough, stridor, shortness of breath, throat pain.EXCLUDES chronic conditions such as chronic bronchitis, asthma without acute exacerbation, chronic sinusitis, allergic conditions (Note: INCLUDE acute exacerbation of chronic illnesses)",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-9",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.1097",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
