{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.1098,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ACUTE onset of shock or coma from potentially infectious causes. EXCLUDES shock from trauma. INCLUDES SUDDEN death, death in emergency room, intrauterine deaths, fetal death, spontaneous abortion, and still births. EXCLUDES induced fetal abortions, deaths of unknown cause, and unattended deaths",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-9",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.1098",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
