{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.3213,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Acute Hepatitis B Signs and Symptoms value set  is primarily based upon the SNOMED concepts that are defined in the CSTE standardized reporting definition for Acute Hepatitis B.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.3213",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
