{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.3338,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "HL7 Table 0396 defines the standard coding systems recognized by HL7. The table defines a mechanism by which locally defined codes can be transmitted. Any code/coding system not defined in HL7 Table 0396 is considered a local coding system from the HL7 perspective. Coding systems that are identified in this implementation guide will be identified according to the recommended HL7 nomenclature from table 0396 as 99DR-zzz where zzz represents a string identifying the specific non-standard coding system. It is strongly suggested that implementers instead adopt the use of 99zz approach to identifying local coding systems since HL7 has indicated that use of L for local coding systems is retained only for backwards compatibility, and its use may be withdrawn in a subsequent 2.x version. Note that the local use of 99zzz should not collide with any of the locally defined coding systems identified in this implementation guide.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0396",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.3338",
            :version "5",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
