{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.3363,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "User-defined Table 0004 - Patient class [values suggested by HL7] (use in PV1-2)\r\nThis code categorizes the patient in the current event. The only value supported is R for recurring patient.  For a current list of HL7 values please reference the HL7 version 2.5.1 documents.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0004",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.3363",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
