{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.3366,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "User-defined Table 0064 - Financial class [NIP suggested values] (use in PV1-20)\r\nFinancial class references a client%s eligibility status at a point in time.  The values in this table relate to eligibility for the Vaccine for Children (VFC) program.  Local implementations may define and document local codes.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.12.64",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.3366",
            :version "5",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
