{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.3591,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The development of a standard source of payment classification system is a high priority for public health and can be used for a wide variety of public health activities such as monitoring healthcare access and documenting disparities.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "https://nahdo.org/sopt",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.3591",
            :version "10",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
