{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.6037,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Alphabetical Indexes of Industries and Occupations were developed primarily for use in classifying a respondent's industry (employer's type of business) and occupation (employee's type of work) as reported in the Census 2000, the Current Population Survey, the American Community Survey, and other demographic surveys conducted by the Census Bureau. They list over 21,000 industry and 31,000 occupation titles in alphabetical order. They are comprehensive lists of specific industries and occupations developed over time and continuously updated through review of census and survey responses.\r\nFor technical questions related to the Industry and Occupation Classification System, contact the Industry and Occupation Statistics Branch at 301-763-3239.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.6.310",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.6037",
            :version "2",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
