{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.6066,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set is based upon HL7 table 0189. This has been created for backward compatibility. HL7 has adopted CDC race and ethnicity code system in 2005. CDC recommends to use the Ethnicity group value set based upon CDC Race & Ethnicity code system (Check digit codes)",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0189",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.6066",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
