{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7142,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Nonvertex is presentation of other than the upper and back part of the infant’s head. Nonvertex presentation includes any nonvertex fetal presentation such as Breech, Shoulder, Brow, Face, Compound, and Transverse lie in the active phase of labor and delivery other than vertex.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7142",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
