{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7162,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A Country value set includes current countries as well as historical countries based on Geopolitical Entities and Codes (GEC). This list will be used for coding of birth, fetal death, and death certificates from 2014 onwards. A few codes appear more than once in the list alphabetized under commonly used variants of the official name. Note that codes are not available for countries that ceased to exist prior to June 15, 1970. list of country codes to be used within addresses PHIN VADS Reference: PHVS_Country_ISO_3166-1.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.13.250",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7162",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
