{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7184,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "2002 Occupation coding system used by CDC (NIOSH & NCHS) for coding occupation text.  Occupation describes a set of activities or tasks that individuals are paid to perform or, if unpaid, define a person’s contribution to a household/family business/community.  This occupation code system includes  2002 U.S. Census Bureau occupation codes with modifications made by CDC for unpaid workers and military occupations.  The 2002 Census occupation categories  are based on the 2000 BLS Standard Occupational Classification (SOC) system.  The PH_Industry_CDC_Census2002  code system should be used in conjunction with this occupation code system when coding both industry and occupation.  For more information and instructions on using this coding system, see the instruction manual for Census I&O coding at:  http://www.cdc.gov/niosh/topics/coding/",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.114222.4.5.312",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7184",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
