{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7187,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "2010 Industry coding system used by CDC (NIOSH & NCHS) for coding industry text.  Industry describes an economic/business sector comprised of businesses/ enterprises concerned with the output of a specified category of products or services (e.g., the construction industry or the agriculture industry).  This industry code system includes  2007 U.S. Census Bureau industry codes  and  three additional codes developed by CDC for unpaid workers.  The 2010 Census industry categories  are based on the 2007 North American Industry Classification System (NAICS).  The PH_Occupation_CDC_Census2010  code system should be used in conjunction with this industry code system when coding both industry and occupation.  For more information and instructions on using this coding system, see the instruction manual for CDC-Census I&O coding at:  http://www.cdc.gov/niosh/topics/coding/",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/PHIndustryCDCCensus2010",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7187",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
