{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7256,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "HL7 Implementation Guide for CDA© Release 2: Reporting to Public Health \r\nCancer Registries from Ambulatory Healthcare Providers, Release 1 \r\n(US Realm) Draft Standard for Trial Use.\r\nContains codes descending \r\nfrom the following SNOMED CT® concepts: Malignant neoplasm of primary, \r\nsecondary, or uncertain origin (morphologic abnormality) [367651003], \r\nNervous system tumor morphology (morphologic abnormality) [253061008], \r\nIntratubular malignant germ cells (morphologic abnormality) \r\n[128902002], In situ melanocytic morphology (morphologic abnormality) \r\n[253035009], In situ neoplasm (morphologic abnormality) [127569003], \r\nCarcinoma in situ - category (morphologic abnormality) [399919001], \r\nSquamous intraepithelial neoplasia - category (morphologic abnormality) \r\n[399962000], In situ adenomatous neoplasm - category (morphologic \r\nabnormality) [399983006].",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7256",
            :version "3",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
