{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7278,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Lab Test Performed Modifier includes concepts that can be used as a modifier for the lab test that can specify the timing or subject or event of performing a lab test (e.g. Mother's First Treponemal Lab Test Finding).",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.114222.4.5.232",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7278",
            :version "2",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
