{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7377,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The set of race codes used by NCHS for Vital Statistics reporting enhanced by “bridged race” codes.  These codes are assigned to persons who assert multiple races using an algorithm defined by NCHS.  The goal is to provide race statistics that are comparable with those used historically in order to facilitate time series analysis.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.6.238",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "urn:oid:2.16.840.1.114222.4.5.274",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7377",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
