{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7457,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Zika-affected areas value set has been created based upon August 31, 2016 travel notice from CDC Zika virus disease website.  For more information, please visit http://www.cdc.gov/zika/geo/index.html",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:iso:std:iso:3166",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7457",
            :version "9",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
