{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7489,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Other Arboviral unusual and rare disease transmission modes. This variable is used to differentiate the \"In Utero (Transplacental)\" vs \"Perinatal\". This variable also can be used to capture more than one transmission mode. Other valid values such as blood donation, blood transfusion, lab acquired, organ transplant are not included in this value set as they exists as variables in the current guide as risk factors.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "urn:oid:2.16.840.1.114222.4.5.274",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7489",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
