{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7512,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "THE CONCEPT CODES DISPLAYED ARE THE GNIS FEATURE IDS. THE  FIPS 55-3 CODES ARE INCLUDED IN THE VALUE SET DOWNLOAD FILE AS PREFERRED ALTERNATE CODE . Codes for Named Populated Places, Primary County Divisions, and Other Locational Entities of the United States, Puerto Rico, and the Outlying Areas (without codes). The former FIPS 55-3 standard was superseded by ANSI standard INCITS 446-2008. Former FIPS 55 data have been incorporated into the GNIS. The GNIS Feature ID superseded the FIPS55 Place Code (now the Census Code) as the Federal and national standard geographic feature record identifier. The Census Bureau continues to assign five digit Census Codes for internal purposes. http://geonames.usgs.gov/domestic/download_data.htm",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.6.317",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7512",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
