{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7566,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "To reflect the relevant edit possibilities for pregnancy report of Education, Mother's height, Mother's pre-pregnancy weight and Prenatal care visit number and also to reflect the relevant edit possibilities for pregnancy status of Female decedent.  This value set is used with the V2.6 Birth and Fetal Death implementation guide, Birth and Fetal Death FHIR implementation guide and the Vital Records Death Reporting FHIR implementation guide.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.114222.4.5.274",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7566",
            :version "2",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
