{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7900,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The Industry NAICS Detail (ODH) value set is to be used to capture self-reported industry within electronic health information systems to support direct patient care, population health and public health activities.  Industry is described as the economic or business sector of a business or enterprise.  For more information, a mapping to 2012 Census Industry Codes, and tips on using this value set go to the Occupational Data for Health (ODH) Hot Topics section on the PHIN VADS home page.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/PHOccupationalDataForHealthODH",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7900",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
