{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7933,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set contains the ICD10 codes for causes \r\nof fetal death as defined by the ICD-10-Mortality \r\nFetal Manual (2016).  Defined as the following, \r\na cause of fetal death is the morbid condition \r\nor disease process, abnormality, injury, or poisoning \r\nleading directly to fetal death. The initiating \r\ncause of fetal death is the disease or injury, \r\nwhich initiated the chain of morbid events \r\nleading directly to death or the circumstances \r\nof the accident or violence, which produced fatal \r\ninjury. A fetal death often results from the \r\ncombined effect of two or more conditions. These \r\nconditions may be completely unrelated, arising \r\nindependently of each other or they may be causally \r\nrelated to each other; that is, one cause may \r\nlead to another which in turn, leads to a third \r\ncause, etc.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/sid/icd-10",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.11.7933",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
