{ns us-cdc-phinvads.value-set.2.16.840.1.114222.4.5.301,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Identifies the Immunization Service Funding Eligibility assigned to the patient for the purpose of identifying sources of reimbursement. See User Defined Table 0064 Financial Class in Appendix 1 in CDC Implementation Guide for Immunization Data Transactions.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.12.64",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.114222.4.5.301",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
