{ns us-cdc-phinvads.value-set.2.16.840.1.113883.13.277,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Collection of SNOMED codes of the diagnoses that are considered to be birth defects. The Birth Defect Diagnosis values were created for the CDA Implementation Guide for Ambulatory Healthcare Provider Reporting to Birth Defect Registries.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.13.277",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
