{ns us-cdc-phinvads.value-set.2.16.840.1.113883.11.19465,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The Healthcare Provider Taxonomy code set divides health care providers into hierarchical groupings by type, classification, and specialization, and assigns a code to each grouping. The Taxonomy consists of two parts: individuals (e.g., physicians) and non-individuals (e.g., ambulatory health care facilities). All codes are alphanumeric and are 10 positions in length. These codes are not “assigned” to health care providers; rather, health care providers select the taxonomy code(s) that most closely represents their education, license, or certification. If a health care provider has more than one taxonomy code associated with it, a health plan may prefer that the health care provider use one over another when submitting claims for certain services.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-nuccProviderCodes",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.11.19465",
            :version "5",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
