{ns us-cdc-phinvads.value-set.2.16.840.1.113883.3.88.12.3221.3.2,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The HL7 Version 3 Role Class Vocabulary has been limited by HITSP to the value set and represents the type of individual support provided, such as immediate emergency contacts, next of kin, family relations, guardians, agents, et cetera",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-RoleClass",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.3.88.12.3221.3.2",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
