{ns us-cdc-phinvads.value-set.2.16.840.1.113883.3.2074.1.1.4,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Causes specified for refusing vaccination, combined with roles of those deciding to refuse it. This value set includes all the codes from PHVS_SubstanceRefusalReason_IIS (2.16.840.1.114222.4.11.3380) except Other.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.114222.4.5.294",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.3.2074.1.1.4",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
