{ns us-cdc-phinvads.value-set.1.3.6.1.4.1.19376.1.7.3.1.1.13.8.104,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "To Reflect that the patient (mother)  was treated in the OR reflecting unplanned operation.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "https://www.cdc.gov/nhsn/cdaportal/terminology/codesystem/hsloc.html",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/1.3.6.1.4.1.19376.1.7.3.1.1.13.8.104",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
