{ns us-cdc-phinvads.value-set.2.16.840.1.113883.3.88.12.80.18,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This identifies the pharmacological drug class, such as Cephalosporins. Shall contain a value descending from the NDF-RT concept types of “Mechanism of Action - N0000000223”, “Physiologic Effect - N0000009802” or “Chemical Structure - N0000000002”`. NUI will be used as the concept code.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/nciVersionOfNDF-RT",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.3.88.12.80.18",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
