{ns us-cdc-phinvads.value-set.2.16.840.1.113883.3.5.20.1,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Descriptors provide a means to rapidly describe the general appearance of the animal for purposes of visual identification (e.g. for traceback activities).  They also may be used in place of the breed if the breed is not apparent (e.g. cow is coated in mud) or unknown (e.g. Dairy Breed)",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.3.5.14.3",
                                  :zen.fhir/content :bundled}},
            :uri "http://phinvads.cdc.gov/fhir/ValueSet/2.16.840.1.113883.3.5.20.1",
            :version "1",
            :ftr {:module "us-cdc-phinvads",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
